<html>
<head>
    {% block styles %}
        <link rel="stylesheet" type="text/css"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
</head>
<body>
{% set navigation_bar = [
    ('/', 'main.index', 'Feed'),
    ('/localization', 'main.localization', 'Localization'),
    ('/stats', 'main.stats', 'Stats'),
] -%}
{% set active_page = active_page|default('main.index') %}
<div class="container">
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a href="/" class="navbar-brand">Glue Gun</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for href, route, label in navigation_bar %}
                    <li class="nav-item">
                        <a href="{{ href|e }}" class="nav-link {% if route == active_page %}active{% endif %}">
                            {{ label|e }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {#            <span class="nav-item"></span>#}
        </div>
    </nav>

    {% block content %}{% endblock %}
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript"
src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="{{ url_for('static', filename='dist/main.js') }}"></script>

</body>
</html>