{% extends 'base.html' %}
{% block content %}
    <div id="app">
        <template v-if="showSubmit">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Reddit submission URL"
                               v-model="redditSubmURL">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="redditURLSubmit" @click="getRedditVideo"
                                v-bind:class="{ 'disabled loading': disableURLSubmitBtn }">
                            Go!
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </template>
        <div class="row">
            <div id="result"></div>
            <template v-if="redditVideoURL">
                <video width="300px" controls="" autoplay="" :src="redditVideoURL"></video>
                <button class="btn btn-primary" @click="extractFrames"
                        v-bind:class="{ 'disabled loading': disableExtractFramesBnt }">Extract frames
                </button>
            </template>
        </div>

        <div class="video-list">

            <template v-if="videoData.length > 0">
                <transition-group name="videos">
                    <div v-for="(video, idx) in videoData" class="row video-block" :key="video.reddit_id">
                        <div class="dropdown">
                        <span id="videoInfoDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-angle-down"></i>
                        </span>
                            <div class="dropdown-menu" aria-labelledby="videoInfoDrop">
                                <a href="#" class="dropdown-item">Permalink</a>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="video-wrapper">
                                    <video controls="" :height="video.height" :src="video.reddit_video_url"
                                           ref="video"></video>
                                    <div class="video-nav btn-toolbar" role="toolbar" aria-label="Video nav toolbar">
                                        <div class="btn-group mr-2" role="group">
                                            <button type="button" class="btn btn-info"
                                                    @click="stepBackward(idx, 5)"><i
                                                    class="fas fa-angle-double-left"></i></button>
                                            <button type="button" class="btn btn-info"
                                                    @click="stepBackward(idx, 1)"><i
                                                    class="fas fa-angle-left"></i>
                                            </button>
                                            <div class="btn-group dropup" role="group">
                                                <button id="playbackRateDrop" type="button"
                                                        class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    ${ playbackRate }
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="playbackRateDrop">
                                                    <a v-for="rate in playbackRates"
                                                       class="dropdown-item"
                                                       @click.prevent="setPlaybackRate(rate)"
                                                       href="#">${ rate }</a>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-info"
                                                    @click="timeForward(idx, 1)"><i
                                                    class="fas fa-angle-right"></i>
                                            </button>
                                            <button type="button" class="btn btn-info"
                                                    @click="timeForward(idx, 5)"><i
                                                    class="fas fa-angle-double-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-toolbar labeling" role="toolbar" aria-label="Video labeling toolbar">
                            <div class="btn-group mr-2" role="group">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#videoFramesModal"
                                        @click="activeFramesRedditID=video.reddit_id; extractFrames(video.reddit_id, video.reddit_video_url)">
                                    Label video frames
                                </button>
                            </div>
                            <div class="btn-group mr-2" role="group">
                                <button type="button" class="btn btn-light" @click="noObject(video.reddit_id)">Object
                                    not
                                    present
                                </button>
                            </div>
                        </div>
                    </div>
                </transition-group>
            </template>
        </div>

        <div class="row">
            <div class="col-md-6 offset-3 load-more-wrapper">
                <button @click="fetchVideos"
                        :class="['btn', 'btn-secondary', 'load-more', { loading : fetchVideosLoading}]">Load more
                </button>
            </div>
        </div>


        {#        Video frames modal  #}
        <div class="modal" id="videoFramesModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Select Frames</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                @click="clearFrameSelections()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div v-if="showModalLoading">
                            <div class="loader">Loading...</div>
                        </div>
                        <template v-if="Object.keys(videoFrames).length > 0">
                            <div class="frames-container">
                                <div v-for="(url, name, index) in videoFrames" :key="name"
                                     :class="['frame-outer', {selected:framesSelected.includes(name)}]">
                                    <img :class="['frame', {selected:framesSelected.includes(name)}]"
                                         @click="selectFrame(name)" :src="url" :alt="name"/>
                                    <i v-if="framesSelected.includes(name)" class="fas fa-check-circle"></i>

                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="saveSelections()" data-dismiss="modal" class="btn btn-primary">
                            Save selections <span
                                v-if="framesSelected.length > 0"
                                class="badge badge-light">${ framesSelected.length }</span></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                @click="clearFrameSelections()">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}